[submodule "bench/xcdat"]
	path = bench/xcdat
	url = https://github.com/kampersanda/xcdat.git
[submodule "bench/tx-trie"]
	path = bench/tx-trie
	url = https://github.com/kampersanda/tx-trie.git
[submodule "bench/marisa-trie"]
	path = bench/marisa-trie
	url = https://github.com/s-yata/marisa-trie.git
[submodule "bench/path_decomposed_tries"]
	path = bench/path_decomposed_tries
	url = https://github.com/ot/path_decomposed_tries.git
[submodule "bench/hat-trie"]
	path = bench/hat-trie
	url = https://github.com/Tessil/hat-trie.git
[submodule "bench/array-hash"]
	path = bench/array-hash
	url = https://github.com/Tessil/array-hash.git
